.header {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
}

.header h1,
.header span {
    font-size: 4rem;
}

.header span {
    color: purple;
}