.playlist {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 50vw;
    height: 100vh;
    color: white;
}

.playlist-input {
    color: white;
    padding: 1rem 1rem 0.5rem;
    margin: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    border: transparent;
    border-bottom: solid 2px #D52685;
    background-color: transparent;
    transition: all ease-in-out 0.4s;
    width: 20vw;
}

.playlist-input:hover {
    color: white;
    width: 21vw;
    padding: 1.1rem 1.1rem 0.6rem;
}