.search-bar {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 50vw;
    height: 20vh;
}

.search-input {
    color: white;
    padding: 1rem 1rem 0.5rem;
    margin: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    border: transparent;
    border-bottom: solid 2px #D52685;
    background-color: transparent;
    transition: all ease-in-out 0.4s;
    width: 20vw;
}

.search-input:hover {
    color: white;
    width: 21vw;
    padding: 1.1rem 1.1rem 0.6rem;
}

.search-button {
    margin: 1rem;
    color: white;
    background-color: rgba(213, 38, 133, 0.4);
    border: none;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    transition: 0.5s;
}

.search-button:hover {
    background-color: #D52685;
    box-shadow: 0 0 10px #D52685,
                0 0 40px #D52685,
                0 0 80px #D52685;
    transition-delay: 0.5s;
    cursor: pointer;
}

.search-button span {
    position: absolute;
    display: block;
}

.search-button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #D52685);
}

.search-button:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}