.track {
    display: flex;
    flex-flow: row;
}

.song {
    color: #D52685 ;
    font-size: 1.6rem;
    text-shadow: 0 0 20px #D52685;
}

.artist {
    color: #27C5D6 ;
    font-size: 1.1rem;
    text-shadow: 0 0 10px #27C5D6;
}

.plus-minus {
    background-color: transparent;
    border: none;
    margin: 3rem;
    color: #D52685;
    font-size: 2rem;
    cursor: pointer;
    transition: all ease-in 0.2s;
}

.plus-minus:hover {
    text-shadow: 0 0 5px #D52685,
                0 0 10px #D52685,
                0 0 20px #D52685;
}

.image {
    height: 10rem;
    margin: 1rem;
    border-radius: 4%;
}