.track {
    display: flex;
    flex-flow: row;
}

.song {
    color: #D52685 ;
    font-size: 1.6rem;
    text-shadow: 0 0 20px #D52685;
}

.album {
    color: #27C5D6 ;
    font-size: 1.5rem;
    text-shadow: 0 0 10px #27C5D6;
    font-size: 1.2rem;    
}

.plus-minus {
    background-color: transparent;
    border: none;
    color: #D52685;
    font-size: 2rem;
    cursor: pointer;
    transition: all ease-in 0.2s;
}

.plus-minus:hover {
    text-shadow: 0 0 5px #D52685,
                0 0 10px #D52685,
                0 0 20px #D52685;
}